<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sand Game</title>
    <link rel="stylesheet" href="styles/index.css">
</head>
<body>
    <canvas class="gameScreen" width="320" height="320" id="screen"></canvas>
    <div class="selectorDiv">
        <div class="selectorButtons">
            <input type="button" value="Sand" class="selectorButton">
            <input type="button" value="Fire" class="selectorButton">
            <input type="button" value="Dirt" class="selectorButton">
            <input type="button" value="Rock" class="selectorButton">
        </div>
    </div>
    <script type="module" src="dist/index.js"></script>
</body>
</html>